#include <windows.h>
#include "resource.h"

//
// Dialog
//

IDD_CONNECTION DIALOGEX 0, 0, 200, 190
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Connection Details"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Name:",IDC_STATIC,10,10,30,8
    EDITTEXT        IDC_EDIT_NAME,50,8,140,14,ES_AUTOHSCROLL

    LTEXT           "Group:",IDC_STATIC,10,30,30,8
    EDITTEXT        IDC_EDIT_GROUP,50,28,140,14,ES_AUTOHSCROLL

    LTEXT           "Host/IP:",IDC_STATIC,10,50,30,8
    EDITTEXT        IDC_EDIT_HOST,50,48,140,14,ES_AUTOHSCROLL

    LTEXT           "Port:",IDC_STATIC,10,70,30,8
    EDITTEXT        IDC_EDIT_PORT,50,68,40,14,ES_AUTOHSCROLL | ES_NUMBER

    LTEXT           "User:",IDC_STATIC,10,90,30,8
    EDITTEXT        IDC_EDIT_USER,50,88,140,14,ES_AUTOHSCROLL

    LTEXT           "Pass:",IDC_STATIC,10,110,30,8
    EDITTEXT        IDC_EDIT_PASSWORD,50,108,140,14,ES_AUTOHSCROLL | ES_PASSWORD

    LTEXT           "Args:",IDC_STATIC,10,130,30,8
    EDITTEXT        IDC_EDIT_ARGS,50,128,140,14,ES_AUTOHSCROLL

    DEFPUSHBUTTON   "OK",IDOK,90,160,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,145,160,50,14
END

IDD_SETTINGS DIALOGEX 0, 0, 250, 100
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "PuTTY Path:",IDC_STATIC,10,20,50,8
    EDITTEXT        IDC_EDIT_PUTTY_PATH,65,18,140,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BUTTON_BROWSE,210,18,30,14

    LTEXT           "WinSCP Path:",IDC_STATIC,10,40,50,8
    EDITTEXT        IDC_EDIT_WINSCP_PATH,65,38,140,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BUTTON_BROWSE_WINSCP,210,38,30,14

    DEFPUSHBUTTON   "OK",IDOK,135,75,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,190,75,50,14
END

//
// Menu
//

IDR_CONTEXT_MENU MENU
BEGIN
    POPUP "Context"
    BEGIN
        MENUITEM "Connect",      IDM_CTX_CONNECT
        MENUITEM "File Transfer", IDM_CTX_WINSCP
        MENUITEM "New Connection", IDM_CTX_NEW
        MENUITEM SEPARATOR
        MENUITEM "Edit",         IDM_CTX_EDIT
        MENUITEM "Delete",       IDM_CTX_DELETE
    END
END

IDR_TAB_MENU MENU
BEGIN
    POPUP "TabContext"
    BEGIN
        MENUITEM "Close",           IDM_TAB_CLOSE
        MENUITEM "Close All",       IDM_TAB_CLOSE_ALL
    END
END
